{{- define "main" }}

<header class="page-header">
    <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

<div id="searchbox">
    <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}"
        aria-label="search" type="search" autocomplete="off">
    <ul id="searchResults" aria-label="search results"></ul>
</div>

<!-- {{- if .Param "allButtons" }}
  <div style="display:block;height:1rem;"> </div>
    <div class="buttons" style="margin:1rem 0;justify-content:left;">
      <span style="padding:0.5rem 1rem 0 0">Find a blog post</span>
      <a class="button" href="/categories/" rel="noopener" title="categories" style="margin: 1rem 1rem 1rem 0;">
        <span class="button-inner">
            Categories
        </span>
      </a>
      <a class="button" href="/tags/" rel="noopener" title="tags" style="margin: 1rem 1rem 1rem 0;">
        <span class="button-inner">
            Tags
        </span>
      </a>
    </div>
    <div class="buttons" style="margin:1rem 0;justify-content:left;width:100%;">
        <span style="padding:0.5rem 1rem 0 0">Find a recipe</span>
      <a class="button" href="/meals/" rel="noopener" title="meals" style="margin: 1rem 1rem 1rem 0;">
        <span class="button-inner">
            Meals
        </span>
      </a>
      <a class="button" href="/diets/" rel="noopener" title="diets" style="margin: 1rem 1rem 1rem 0;">
        <span class="button-inner">
            Diets
        </span>
      </a>
    </div>
    {{- end }} -->

{{- end }}{{/* end main */}}
